.flex{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.tableS{
    width: 60%;
}
.bgMain{
    background-image: linear-gradient(lightblue,white);
}