.probando{
    color: black;
    display: flex;
    flex-direction: row;
    font-size: 25px;
    padding: 5px;


}
.logo{
    width: 10%;
}
.bgHeader{
    background-color: aqua;
}
.flexHeader{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
