
.logo{
    width: 10%;
}
.bgHead{
    background-image:linear-gradient(lightblue,black);
    align-items: center;
    height: 100px;
}
.menuNav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;   
}
.boton {
    text-decoration: none;
    color: white;
}